In [2]:
import pandas
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import time

In [5]:
driver= webdriver.Chrome()
driver.get("https://www.imdb.com/search/title/?title_type=feature&release_date=2024-01-01,2024-12-31&genres=family")
time.sleep(3)

while True:
    try:
        load_more = driver.find_element(By. CLASS_NAME, "ipc-see-more__button")
        driver.execute_script("arguments[0].click();", load_more)
        time.sleep(3)
    except NoSuchElementException:
        print ("All movies downloaded")
        break

All movies downloaded

In [6]:
movie_cards = driver.find_elements(By.CLASS_NAME, "ipc-metadata-list-summary-item")
print("Found", len(movie_cards), "movie cards")

Found 576 movie cards

In [19]:
movies = []

for card in movie_cards:
    try:
        title = card.find_element(By.TAG_NAME, "h3").text
    except:
        title = "N/A"

    try:
        genre_tags = card.find_elements(By.CLASS_NAME,"ipc-chip__text")
        genre = [g.text for g in genre_tags] if genere_tags else ["N/A"]
       
    except:
        genre = "N/A"

    try:
        rating = card.find_element(By.CLASS_NAME, "ipc-rating-star--rating").text
    except:
        rating = "N/A"

    try:
        metadata = card.find_elements(By.CLASS_NAME, "dli-title-metadata-item")
        duration = metadata[1].text if len(metadata) > 1 else "N/A"
    except:
        duration = "N/A"

    try:
        votes = card.find_element(By.CLASS_NAME, "ipc-rating-star--voteCount").text
    except:
        votes = "N/A"

    movies.append({
        "Title": title,
        "Genre": genre,
        "Rating": rating,
        "Duration": duration,
        "Votes": votes
    })

In [20]:
import pandas as pd
df = pd.DataFrame(movies)
df.head()

                      Title Genre Rating Duration    Votes
0         1. The Wild Robot   N/A    8.2   1h 42m   (185K)
1   2. Sonic the Hedgehog 3   N/A    6.9   1h 50m    (66K)
2  3. Mufasa: The Lion King   N/A    6.6   1h 58m    (72K)
3                   4. Flow   N/A    7.9   1h 25m    (86K)
4                5. Moana 2   N/A    6.5   1h 40m   (110K)

In [22]:
df.family= pd.DataFrame(movies)
df.family.to_csv("IMDb_Family_2024.csv",index=0)
print("CSV file saved successfully.")

CSV file saved successfully.